body {
    background-color: aliceblue;
}

.container {
    width: 300px;

    background-color: rgb(255, 255, 255);

    margin: auto;
    padding: 10px 60px;

    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container h1 {
    font-family: "Great Vibes", cursive;
    font-size: 80px;
    font-weight: 10;
}

.container h4 {
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: 50;
    font-size: 0.95rem;
	color: #1a1a1a;
}

.container .reception {
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: none !important;
    letter-spacing: 1px;
}

.container h6 {
    font-size: 15px;
	letter-spacing: 3px;
	font-weight: 40;
    text-transform: uppercase;
}

.container .join {
    font-size: 13px;
}

.container .house {
    letter-spacing: 1px;
}