body {
    background-color: #59dae4;
    font-family: Arial, Helvetica, sans-serif;

}

.login-container {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    width: 350px;
    height: 250px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

}

h1 {
    color: #59dae4;
    margin-bottom: 30px;
    font-weight: 100;
    font-size: 25px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 18px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

button {
    background-color: #59dae4;
    color: #fff;

    border: none;

    width: calc(100% - 20px);
    padding: 10px;

    font-size: 18px;

    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #07c2db;
}