.banner {
    width: 100%;
    height: 400px;

    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #8a5004;
}

.footer {
    background-color: #c0a353;
    width: 100%;
    height: 500px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
}

ul li a {
    font-size: 20px;

    display: block;
    color: rgb(22, 88, 2);
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #ddc789;
    
}


.main h2 {
    font-size: 30px;

}

.main p {
    font-size: 20px;
}

.main .red {
    color: #530101;
}