body {
    background-color: #59dae4;
    font-family: Arial, Helvetica, sans-serif;

}

.login-container {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    width: 350px;
    height: 350px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    box-shadow: 10px 10px 10px rgb(46, 45, 45);

    font-size: 20px;
}

h1 {
    color: #000000;
    margin-bottom: 20px;
    
    font-size: 25px;
}

p {
    width: calc(100% - 20px);
    background-color: #ffebcd;
    padding: 10px;
    color: rgb(121, 73, 2);
    font-size: 18px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 18px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #f3aa3c;
    outline: none;
}

button {
    background-color: #fa8072;
    color: #fff;

    border: none;

    width: calc(100% - 20px);
    padding: 10px;

    font-size: 18px;

    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f56a5a;
}

