body {
    background-color: aqua;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.form-container {
    width: 500px;
    height: 100hv;
    background-color: rgb(255, 255, 255);
    
    margin: auto;
    padding: 40px;
}

.separator {
    margin: 20px;
}

button {
    width: 100px;
    height: 30px;
    padding: 15px;

    background-color: rgba(11, 33, 235, 0.87);
    border: none;

    display: block;
    margin: 0 auto;

    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: aqua;
}

